<div mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="space-between center">

  <div fxLayout.gt-sm="row"
    fxLayoutGap.gt-sm="48px">
    <div>{{data.id == 0 ? 'Add': 'Edit'}} Load</div>

  </div>
</div>

<mat-dialog-content>

  <div fxLayout.gt-sm="row"
    fxLayoutGap.gt-sm="48px">
    <div *ngIf="load">
      <mat-checkbox [checked]="load.is_dispatched"
        style="padding-left: 80px;"
        [(ngModel)]="load.is_dispatched"
        color="primary">Dispactched</mat-checkbox>

      <mat-checkbox [checked]="load.is_brokerage"
        style="padding-left: 20px;"
        [(ngModel)]="load.is_brokerage"
        color="primary">Brokerage</mat-checkbox>
    </div>

  </div>

  <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

  <div *ngIf="load">

    <ngx-spinner type="ball-spin"></ngx-spinner>

    <mat-tab-group>

      <mat-tab label="Details">

        <div class="tab-content-sm"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Trip</mat-label>
            <input matInput
              placeholder="Trip"
              readonly="true"
              disabled="true"
              [(ngModel)]="load.trip_id"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="load.type"
              required>
              <mat-option *ngFor="let name of loadTypes"
                [value]="name">{{ name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Sub-Type</mat-label>
            <mat-select [(ngModel)]="load.subtype">
              <mat-option *ngFor="let subType of loadSubTypesDB"
                [value]="subType.name">{{ subType.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Pick Up Date</mat-label>
            <input matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Pick Up Date"
              [formControl]="dateControl">
            <mat-datepicker-toggle matSuffix
              [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker
              [showSpinners]="showSpinners"
              [showSeconds]="showSeconds"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [touchUi]="touchUi"
              [color]="primary"
              [defaultTime]="defaultTime"
              [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Del Date</mat-label>
            <input matInput
              [ngxMatDatetimePicker]="picker2"
              placeholder="Del Up Date"
              [formControl]="delDateControl">
            <mat-datepicker-toggle matSuffix
              [for]="picker2"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker2
              [showSpinners]="showSpinners"
              [showSeconds]="showSeconds"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [touchUi]="touchUi"
              [color]="primary"
              [defaultTime]="defaultTime"
              [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <fury-customer-auto-complete class="example-full-width"
            [title]="'Driver'"
            [customerType]="'drivers-list'"
            [customerId]="data.driverId"
            (selectionChanged)="onDriverChange($event)"
            fxFlex></fury-customer-auto-complete>

          <fury-customer-auto-complete class="example-full-width"
            [title]="'Shipper'"
            [customerType]="'shippers-list'"
            [customerId]="data.shipperId"
            (selectionChanged)="onShipperChange($event)"
            fxFlex></fury-customer-auto-complete>

          <fury-customer-auto-complete class="example-full-width"
            [title]="'Biller'"
            [customerType]="'billers-list'"
            [customerId]="data.billerId"
            (selectionChanged)="onBillerChange($event)"
            fxFlex></fury-customer-auto-complete>

          <fury-customer-auto-complete class="example-full-width"
            [title]="'Receiver'"
            [customerType]="'receivers-list'"
            [customerId]="data.receiverId"
            (selectionChanged)="onReceiverChange($event)"
            fxFlex></fury-customer-auto-complete>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <!-- PU # -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>PU #</mat-label>
            <input matInput
              placeholder="PU #"
              [(ngModel)]="load.punum"
              type="text">
          </mat-form-field>

          <!-- BOL # -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>BOL #</mat-label>
            <input matInput
              placeholder="BOL #"
              [(ngModel)]="load.bolnum"
              type="text">
          </mat-form-field>

          <!-- Confirmation # -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Confirmation #</mat-label>
            <input matInput
              placeholder="Confirmation #"
              [(ngModel)]="load.confirmation"
              type="text">
          </mat-form-field>

          <!-- CHRW #: -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>CHRW #</mat-label>
            <input matInput
              placeholder="CHRW #"
              [(ngModel)]="load.chrwnum"
              type="text">
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <!-- Weight # -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Weight</mat-label>
            <input matInput
              placeholder="Weight"
              [(ngModel)]="load.weight"
              type="text">
          </mat-form-field>

          <!-- Truck #: -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Truck #</mat-label>
            <input matInput
              placeholder="Truck #"
              [(ngModel)]="load.trucknum"
              type="text">
          </mat-form-field>

          <!-- Trailer # -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Trailer #</mat-label>
            <input matInput
              placeholder="Trailer #"
              [(ngModel)]="load.trailernum"
              type="text">
          </mat-form-field>

          <!-- Sub #: -->
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Sub #</mat-label>
            <input matInput
              placeholder="Sub #"
              [(ngModel)]="load.subnum"
              type="text">
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab label="Finance">

        <div class="tab-content"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-checkbox [checked]="load.is_paid_for"
            [(ngModel)]="load.is_paid_for"
            color="primary">Is Paid</mat-checkbox>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Date Paid</mat-label>
            <input [matDatepicker]="datepicker"
              [(ngModel)]="load.paid_on"
              matInput>
            <mat-datepicker-toggle [for]="datepicker"
              matSuffix></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #datepicker></mat-datepicker>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Rate</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.rate"
              placeholder="Rate">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Lumper</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.lumper"
              placeholder="Lumper">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Driver Unload</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.unload"
              placeholder="Driver Unload">
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Fuel Paid</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.fuelpaid"
              placeholder="Fuel Paid">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Fuel SC</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.fuelsc"
              placeholder="Fuel SC">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Misc</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.misc"
              placeholder="Misc">
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Layover</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.layover"
              placeholder="Layover">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Detention</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.detention"
              placeholder="Detention">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Exten</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              [readonly]="load.is_paid_for == true"
              [disabled]="load.is_paid_for == true"
              [(ngModel)]="load.exten"
              placeholder="Exten">
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>Total</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              readonly="true"
              disabled="true"
              [value]="getTotal()"
              [(ngModel)]="load.total"
              placeholder="Total">
          </mat-form-field>


          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary">
            <mat-label>All Money</mat-label>
            <input currencyMask
              class="example-right-align"
              matInput
              readonly="true"
              disabled="true"
              [value]="getAllMoney()"
              [(ngModel)]="load.allmoney"
              placeholder="All Money">
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab label="Notes">

        <div class="tab-content"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            color="primary"
            fxFlex>
            <textarea matInput
              placeholder="Notes:"
              cdkTextareaAutosize
              [(ngModel)]="load.notes"
              placeholder="Notes"
              cdkAutosizeMinRows="6"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline"
            color="primary"
            fxFlex>
            <textarea matInput
              placeholder="Notes 1"
              cdkTextareaAutosize
              [(ngModel)]="load.notes1"
              placeholder="Notes 1"
              cdkAutosizeMinRows="6"></textarea>
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab *ngIf="load.has_linked_loads"
        label="Linked Loads">

        <div class="table-space tab-content-sm"
          fxLayout="column">

          <ms-table [columnDefs]="columnDefs"
            [rowData]="loadData"
            (rowDragEnd)="onRowDragEnd($event)"
            [gridOptions]="gridOptions"></ms-table>

        </div>

        <div class="action-space"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">
          <button mat-raised-button
            (click)="savePositions()"
            name="button">Save Position</button>

        </div>

      </mat-tab>

    </mat-tab-group>

  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button
    color="primary"
    style="margin-right: 10px;"
    (click)="save()">Save</button>

  <div *ngIf="load && (load.id > 0)">
    <button mat-raised-button
      color="accent"
      (click)="dispatch()">Dispatch</button>

    <button mat-raised-button
      style="margin-right: 10px;"
      color="warn"
      [disabled]="canAddLinkedLoad()"
      [matMenuTriggerFor]="menu">Add Linked Loads</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        *ngFor="let subType of loadSubTypesDB"
        (click)="addLinkedLoad(subType.name)">
        {{ subType.name }}
      </button>
    </mat-menu>
  </div>


  <button mat-raised-button
    (click)="close()">Cancel</button>
</mat-dialog-actions>
