.example-full-width {
  width: 250px;
}

.tab-content{
  margin-top: 40px;
}

.tab-content-sm{
  margin-top: 20px;
}

.action-space{
  margin-top: 20px;
  margin-bottom: 20px;
}

.example-right-align {
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.raquo {
    position:relative;
    top:-7px;
}
