<div mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <div>{{data.id == 0 ? 'Add': 'Edit'}} Driver Type</div>
</div>

<mat-dialog-content>

  <div [formGroup]="form">

    <div class="tab-content"
      fxLayout.gt-sm="row"
      fxLayoutGap.gt-sm="48px">

      <mat-form-field appearance="outline"
        color="primary"
        fxFlex>
        <mat-label>Name</mat-label>
        <input matInput
          placeholder="Name"
          formControlName="name"
          type="text">
      </mat-form-field>

      <mat-form-field appearance="outline"
        color="primary"
        fxFlex>
        <mat-label>Description</mat-label>
        <input matInput
          placeholder="Description"
          type="text"
          formControlName="description">
      </mat-form-field>

    </div>

  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button
    (click)="close()">Cancel</button>
  <button mat-raised-button
    color="primary"
    [disabled]="!form.valid"
    (click)="save()">Save</button>
</mat-dialog-actions>
