<ngx-spinner type="ball-spin"></ngx-spinner>

<div class="padding"
  fxLayout="column">

  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="24px">

    <fury-card fxFlex="auto">
      <fury-card-header>
        <fury-card-header-heading>
          <span>UI Table Setting</span>
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content fxLayout="column">

        <fury-scrollbar class="icon-list"
          fxFlex="grow">

          <div fxLayout="row"
            fxLayoutGap.gt-sm="48px">

            <mat-form-field appearance="outline"
              class="example-full-width"
              style="width: 300px;"
              color="primary">
              <mat-label>Table</mat-label>
              <mat-select (selectionChange)="onSelectionChanged($event)"
                [(ngModel)]="selectedTableName">
                <mat-option *ngFor="let table of tableNames"
                  [value]="table.table_name">{{ table.table_name }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div fxLayout="row"
            fxLayoutGap.gt-sm="20px"
            style="padding-bottom: 20px;">

            <button mat-raised-button
              color="primary"
              style="width: 140px;"
              [disabled]="columnData.length==0"
              (click)="reset()">Reset</button>

            <button mat-raised-button
              color="warn"
              style="width: 140px;"
              [disabled]="columnData.length==0"
              (click)="save()">Save</button>

          </div>

          <div *ngIf="columnData">

            <ms-table [columnDefs]="columnDefs"
              [rowData]="columnData"
              (tableReady)="onTableReady($event)"
              (rowDragEnd)=onRowDragEnd($event)>
            </ms-table>

          </div>

        </fury-scrollbar>

      </fury-card-content>

    </fury-card>
  </div>

</div>
