<div class="padding"
  fxLayout="column">

  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="24px">

    <fury-card fxFlex="auto">
      <fury-card-header>
        <fury-card-header-heading><span>Notes</span>
          <button mat-icon-button
            color="primary"
            (click)="openDialog(0)">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content fxLayout="column">

        <fury-scrollbar class="icon-list"
          fxFlex="grow">

          <ms-table [tableName]="tableName"
            [dataRoute]="tableName"
            (cellClicked)="onCellClicked($event)">
          </ms-table>

        </fury-scrollbar>
      </fury-card-content>

    </fury-card>
  </div>

</div>
