<div class="padding"
  fxLayout="column">

  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="24px">

    <fury-card fxFlex="auto">

      <fury-card-header>
      </fury-card-header>

      <fury-card-content fxLayout="column">

        <fury-search (dateChanged)="onDateChange($event)"
          (tripChanged)="searchByTrip($event)"></fury-search>

        <fury-scrollbar fxFlex="grow">

          <fury-load-table [name]="'Brokerage'"
            [isBrokerage]="'true'"></fury-load-table>

        </fury-scrollbar>

      </fury-card-content>

    </fury-card>
  </div>

</div>
