<mat-form-field appearance="outline"
  color="primary"
  fxFlex>
  <mat-label>{{title}}</mat-label>
  <input type="text"
    [placeholder]="title"
    aria-label="Number"
    matInput
    [formControl]="customersControl"
    [matAutocomplete]="customers">
  <mat-autocomplete autoActiveFirstOption
    [displayWith]="displayFn"
    (optionSelected)="onOptionSelected($event)"
    #customers="matAutocomplete">
    <mat-option *ngFor="let option of customersOptions | async"
      [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
