<div style="height: 100%; display: flex; flex-direction: column;">
  <div [ngStyle]="style">

    <ag-grid-angular style="width: 100%; height: 100%;"
      #agGrid
      id="myGrid"
      [ngClass]="tableTheme"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef"
      [rowStyle]="rowStyle"
      [getRowStyle]="getRowStyle"
      [domLayout]="domLayout"
      [animateRows]="true"
      [rowDragManaged]="true"
      (gridReady)="onGridReady($event)"
      (rowDragEnd)="onRowDragEnd($event)"
      (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>
  </div>
</div>
