<div style="height: 100%; display: flex; flex-direction: column;">
  <div [ngStyle]="style">

    <div *ngIf="columnDefs">
      <ag-grid-angular style="width: 100%; height: 100%;"
        #agGrid
        id="myGrid"
        [ngClass]="tableTheme"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        [getRowStyle]="getRowStyle"
        [domLayout]="domLayout"
        [animateRows]="true"
        [rowHeight]="rowHeight"
        [rowDragManaged]="true"
        [pagination]="pagination"
        [paginationPageSize]="pageSize"
        (gridReady)="onGridReady($event)"
        (rowDragEnd)="onRowDragEnd($event)"
        (selectionChanged)="onSelectionChanged($event)"
        (cellDoubleClicked)="onCellClicked($event)">
      </ag-grid-angular>
    </div>

  </div>
</div>
