<div mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <div>{{data.id == 0 ? 'Add Driver': 'Edit Driver'}}</div>
  <div *ngIf="driver">
    <mat-checkbox [checked]="driver.is_active"
      [(ngModel)]="driver.is_active"
      color="primary">Active</mat-checkbox>
  </div>
</div>

<mat-dialog-content>

  <div *ngIf="driver">

    <mat-tab-group>
      <mat-tab label="Details">

        <div class="tab-content"
          fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">

          <mat-form-field appearance="outline"
            color="primary"
            fxFlex>
            <mat-label>Name</mat-label>
            <input matInput
              placeholder="Name"
              [(ngModel)]="driver.name"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            color="primary"
            fxFlex>
            <mat-label>Company</mat-label>
            <input matInput
              placeholder="Company"
              type="text"
              [(ngModel)]="driver.company">
          </mat-form-field>

          <mat-form-field appearance="outline"
            color="primary"
            fxFlex>
            <mat-label>Email</mat-label>
            <input matInput
              placeholder="Email"
              [(ngModel)]="driver.email"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="driver.type_id">
              <mat-option *ngFor="let dt of driverTypes"
                [value]="dt.id"> {{ dt.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Address</mat-label>
            <input matInput
              placeholder="Address"
              [(ngModel)]="driver.address"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>City</mat-label>
            <input matInput
              placeholder="City"
              [(ngModel)]="driver.city"
              type="text"
              required>
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Zip</mat-label>
            <input matInput
              placeholder="Zip"
              [(ngModel)]="driver.zip"
              type="text"
              required>
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>State</mat-label>
            <mat-select [(ngModel)]="driver.state">
              <mat-option *ngFor="let state of stateList"
                [value]="state.name"> {{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="48px">
          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Cell</mat-label>
            <input matInput
              placeholder="Cell"
              [(ngModel)]="driver.cell"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Office</mat-label>
            <input matInput
              placeholder="Office"
              [(ngModel)]="driver.office"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>Fax</mat-label>
            <input matInput
              placeholder="Fax"
              [(ngModel)]="driver.fax"
              type="text">
          </mat-form-field>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            fxFlex>
            <mat-label>MC Number</mat-label>
            <input matInput
              placeholder="mcnumber"
              [(ngModel)]="driver.mcnumber"
              type="text">
          </mat-form-field>

        </div>

      </mat-tab>
      <mat-tab label="Dates">

        <div class="tab-content"
          fxLayout="column">
          <div fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap.gt-sm="16px">

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>Drug Test</mat-label>
              <input [matDatepicker]="datepickerRef0"
                [(ngModel)]="driver.drugtest"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef0"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef0></mat-datepicker>

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>License</mat-label>
              <input [matDatepicker]="datepickerRef1"
                [(ngModel)]="driver.license"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef1"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef1></mat-datepicker>

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>Insurance</mat-label>
              <input [matDatepicker]="datepickerRef2"
                [(ngModel)]="driver.insurance"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef2"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef2></mat-datepicker>

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>Packet</mat-label>
              <input [matDatepicker]="datepickerRef3"
                [(ngModel)]="driver.packet"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef3"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef3></mat-datepicker>

          </div>
        </div>

        <div class="result"
          fxLayout="column">
          <div fxLayout="column"
            fxLayout.gt-sm="row"
            fxLayoutGap.gt-sm="16px">

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>W9</mat-label>
              <input [matDatepicker]="datepickerRef4"
                [(ngModel)]="driver.w9date"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef4"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef4></mat-datepicker>

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>Work Comp</mat-label>
              <input [matDatepicker]="datepickerRef5"
                [(ngModel)]="driver.workcomp"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef5"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef5></mat-datepicker>

            <mat-form-field appearance="outline"
              color="primary">
              <mat-label>Work Comp NA</mat-label>
              <input [matDatepicker]="datepickerRef6"
                [(ngModel)]="driver.workcompna"
                matInput>
              <mat-datepicker-toggle [for]="datepickerRef6"
                matSuffix></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #datepickerRef6></mat-datepicker>

            <mat-form-field appearance="outline"
              class="example-full-width"
              color="primary">
              <mat-label>CA Nnumber</mat-label>
              <input matInput
                placeholder="canumber"
                [(ngModel)]="driver.canumber"
                type="text">
            </mat-form-field>

          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button
    (click)="close()">Cancel</button>
  <button mat-raised-button
    color="primary"
    (click)="save()">Save</button>
</mat-dialog-actions>
