<div class="padding"
  fxLayout="column">

  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="24px">

    <fury-card fxFlex="auto">
      <fury-card-header>
        <fury-card-header-heading>
          <span>Payments (Work In Progress)</span>
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content fxLayout="column">

        <div fxLayout.gt-sm="row"
          fxLayoutGap.gt-sm="75px">

          <fury-customer-auto-complete class="example-full-width"
            [title]="'Billers'"
            [customerType]="'billers-list'"
            (selectionChanged)="onCustomerChange($event)"
            fxFlex></fury-customer-auto-complete>

          <mat-form-field appearance="outline"
            class="example-full-width"
            color="primary"
            [floatLabel]="'always'">
            <mat-label>Payment Amount</mat-label>
            <input type="number"
              class="example-right-align"
              matInput
              [(ngModel)]="paymentAmount">
            <span class="raquo"
              matPrefix>$&nbsp;</span>
            <mat-icon (click)="findLoads()"
              matSuffix>search</mat-icon>

          </mat-form-field>

        </div>

        <fury-scrollbar class="icon-list"
          fxFlex="grow">

          <ms-table [tableName]="tableName"
            (tableReady)="onTableReady($event)"
            [rowSelection]="'multiple'"
            [rowData]="rowData"
            (selectionChanged)="onSelectionChanged($event)">
          </ms-table>

          <div fxLayout="row"
            fxLayoutGap.gt-sm="75px"
            fxLayoutAlign="start center">

            <mat-form-field appearance="outline"
              class="example-full-width"
              color="primary">
              <mat-label>Total Selected Amount</mat-label>
              <input type="number"
                class="example-right-align"
                matInput
                readonly
                disabled
                [(ngModel)]="totalAmount"
                placeholder="Total Selected Amount">
              <span class="raquo"
                matPrefix>$&nbsp;</span>
            </mat-form-field>

            <div *ngIf="paymentBalance>0">
              <mat-form-field appearance="outline"
                class="example-full-width"
                color="primary">
                <mat-label>Payment Balance</mat-label>
                <input type="number"
                  class="example-right-align"
                  matInput
                  readonly
                  disabled
                  [(ngModel)]="paymentBalance"
                  placeholder="Payment Balance">
                <span class="raquo"
                  matPrefix>$&nbsp;</span>
              </mat-form-field>
            </div>

            <button type="button"
              color="primary"
              mat-raised-button
              [disabled]="((paymentAmount != totalAmount) || billerId == 0 || !canCreatePayment)"
              (click)="createPayment()">
              Create Payment
            </button>

          </div>

        </fury-scrollbar>

      </fury-card-content>

    </fury-card>
  </div>

</div>
