/* You can add global styles to this file, and also import other style files */
@import "./@fury/styles/core";
@import "./app/app.theme";
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine-dark.css';

// html, body { height: 100%; }

html, body {
  width: 100%;
  height: 100%;
}

.mat-icon {
  overflow: visible !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row-fail {
  font-weight: bold;
  background-color: #aa2e25 !important;
}

.row-pass {
  font-weight: bold;
  background-color: #357a38 !important;
}

.mat-simple-snackbar-action  { color: white }
